BeautifulSoup==3.2.1
CherryPy==3.2.2
Django==1.5.1
Fabric==1.7.0
Landscape-Client==12.12
Markdown==2.2.1
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.0.0
Pivy==0.5.0
Pygments==1.6
Routes==1.13
South==0.8.1
Twisted-Core==12.3.0
UniConvertor==1.1.4
WebOb==1.2.3
Werkzeug==0.9.2
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
cracklib==2.8.22
cssselect==0.6.1
cssutils==0.9.10b1
distribute==0.6.34
django-extensions==1.1.1
django-fab-deploy==0.7.5
django-fagungis==0.0.17
django-suit==0.2.3
dnspython==1.10.0
eyeD3==0.6.18
feedparser==5.1.2
jockey==0.9.7
lxml==3.1.0
mechanize==0.2.5
mysql-connector-python==0.3.2-devel
mysql-utilities==1.0.3
netifaces==0.8
numpy==1.7.1
paramiko==1.11.0
pexpect==2.4
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pyparsing==1.5.7
pyserial==2.6
pysqlite==2.6.3
python-apt==0.8.8ubuntu6
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu1
pytz==2013b
pyudev==0.16.1
pyxdg==0.25
reportlab==2.6
repoze.lru==0.5
requests==1.1.0
six==1.2.0
ssh-import-id==3.14
synaptiks==0.8.1
uTidylib==0.2
urllib3==1.5
wsgiref==0.1.2
xdiagnose==3.5.1
xkit==0.0.0
zope.interface==4.0.5
